:root{
  --color1: Black;
  --color2:white;
  --color3:pink;
}

@font-face {
  font-family: logoFont;
  src: url('../../../assets/logoFont2.OTF');
}
@font-face {
  font-family: themeFont;
  src: url('../../../assets/themeFont.otf');
}
@font-face {
  font-family: bodyFont;
  src: url('../../../assets/PoiretOne-Regular.ttf');
}

/* .shopPage{
  background-image: url('../../../assets/bgOne.gif');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  padding-right: 0;
} */

.productList{
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    margin-top: 10px;
    margin-left: 100px;

}
.shopTitle{
  margin-top: 100px;
  margin-left: 40px;
  font-family: 'logoFont';
}

.card{
    background:transparent !important;
    color: black;
  padding: 10px;
  min-height: 300px;
  width: 200px;
  margin: 10px;
  border: none !important;
border-bottom: 1px solid black !important;
border-radius: 0 !important;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.cardTitle,.cardPrice{
  font-family: 'themeFont';
  text-align: center;
}
 .cardDescription{
  font-family: 'bodyFont';
}
.cardActions{
  display: flex;
  justify-content: flex-end;
}
.cardButton{
  background: none;
  border: none;
}
.shopSpinner{
margin-top: 20%;
margin-left: 50%;

}
@media screen and (max-width: 767px) {

  .shopSpinner{
    margin-top: 60%;
    margin-left: 50%;
    
    }
}